@{
    ViewBag.Title = "About Sino Express LLC";
}
<h2>@ViewBag.Title.</h2>

<p>We deliver solutions that matter to you and your business, turning global challenges into opportunities.<br />
   When we connect people and possibilities, communities flourish and lives are improved — everyone benefits.</p>
